html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 70%;
}

.main-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.description, .solve, .code {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.description label {
    text-align: center;
}

.solve, .code {
    margin-top: 10px;
}

label {
    display: block;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

td, th {
    font-weight: normal;
    padding: 2px 5px;
}